<!DOCTYPE html>
<html>
<head>
	<!-- <script src="http://maps.googleapis.com/maps/api/js?libraries=weather,visualization&sensor=false&language=en&v=3.13"></script> -->
	<!-- <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script> -->
	<!-- <script type="text/javascript" src="/public//static/bower_components/underscore/underscore-min.js"></script> -->
	<!-- <script type="text/javascript" src="/public/static/bower_components/geohash/geohash.js"></script> -->
	<!-- <script type="text/javascript" src="/public/static/bower_components/jquery/dist/jquery.js"></script> -->
	<!-- <script type="text/javascript" src="/public/static/bower_components/angular/angular.js"></script> -->
	<!-- <script type="text/javascript" src="/public/static/bower_components/restangular/dist/restangular.js"></script> -->
	<!-- <script type="text/javascript" src="/public/static/bower_components/angular-route/angular-route.min.js"></script> -->
	<!-- <script type="text/javascript" src="/public/static/bower_components/angular-google-maps/dist/angular-google-maps.js"></script> -->
	<!-- <script type="text/javascript" src="/public/static/bower_components/angular-socket-io/socket.js"></script> -->
	<!-- <script type="text/javascript" src="/public/static/bootstrap/js/bootstrap.min.js"></script> -->
	<!-- <script type="text/javascript" src="/public/static/app.js"></script> -->
	<script type="text/javascript" data-main="/public/js/boot" src="/public/bower_components/requirejs/require.js"> </script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="/public/css/main.css">
</head>
<body>

<div class="container">
	<div ng-controller="MenuCtrl" class="header clearfix">
		<nav>
			<ul class="nav nav-pills pull-right">
				<li>
					<input ng-model="search" type="text" class="form-control" size="50" placeholder="Ex. Apartamento de 2 quartos em Florianópolis">
				</li>
				<li>
					<input ng-click="doSearch()" type="submit" class="btn btn-primary" value="Listar">
				</li>
			</ul>
		</nav>
		<h3 class="logo text-muted">  
			<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
			ilha.casa
		</h3>
	</div>
</div>

