@font-face {
	font-family: HelvNeue;
	src: url("/public/fonts/helvetica.otf") format("opentype");
}

body {
	font-family: HelVNeue;
	background-color: #263248;
	color: #fff; 
}

a {
	color: #FF9800;
}
a:hover {
	color: #ffffff;
}

.header,
.footer {
	background-color: #000;
}

.header {
	height: 3.4em
}

.header li {
	top: 0.4em;
}
.footer {
	position: absolute;
	bottom: 0;
	height: 60px;
	width: 100%;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
	padding-right: 15px;
	padding-left: 15px;
}

/* Custom page header */
.header {
	/*border-bottom: 1px solid #7E8AA2;*/
}

/* Custom page footer */
.footer {
	padding-top: 20px;
	color: #fff;
	/* border-top: 1px solid #7E8AA2; */
}

h3.logo span {
	color: #FF9800;
	top: 5px;
	font-size: 1.1em;
}

.logo {
	margin-top: 0.1em;
	color: #fff;
	font-size: 2.0em;
}

.container {
	width: 100%;
	padding-left: 0px;
   	padding-right: 0px;
}
.container-narrow > hr {
	margin: 30px 0;
}


/* Space out the masthead */

.log_data {
	height: 500px;
	overflow-y: scroll;
}

.btn-primary {
	background-color: #FF9800;
	border: 1px solid black;
	color: #000;
	margin-left: 0.4em;
	width: 7em;
}

.btn-primary:focus, .btn-primary:hover {
	background-color: #FF9800;
	border: 1px solid black;
}

.btn-primary:click {
	background-color: #E8700C;
}

/* Maps.css */
.angular-google-map-container {
	width: 100%;
	height: 800px;
}

/* fix for Twitter Bootstrap handling of responsive images */
.angular-google-map img {
	max-width: none;
}

.height {
	height: 100%;
	padding: 0 0 0 0;
}

.prop-header {
	color: #000;
	font-size: 1.5em;
}

.prop-header span {
	font-size: 0.7em;
}

.prop-header span.badge {
	font-size: 0.6em;
}
div.properties {
	padding: 0 0 0 0;
}

.panel-body {
	background-color: #7E8AA2;
}
