{{set . "title" "Home"}}
{{template "header.html" .}}

<div class="container-fluid">
	<div class="row-fluid">
		<div ng-controller="PropertyCtrl" class="col-md-4 col-xs-4 properties">
			<div class="panel-group" id="accordion">
				<div ng-repeat="agg in aggs" class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">{[agg.key]}</a>
						</h4>
					</div>
					<div id="collapseOne" class="panel-collapse">
						<div class="panel-body"> </div>
					</div>
				</div>
			</div>
		</div>

		<div ng-view class="col-md-8 col-xs-8 height"></div>
	</div>
</div>
