<div ng-controller="MapsCtrl">
	<ui-gmap-google-map class="col-md-12"
		center="map.center"
		zoom="map.zoom"
		dragging="map.dragging"
		draggable="true"
		control="map.control">
		<ui-gmap-markers
			models="map.dynamicMarkers"
			coords="'self'" icon="'icon'"
			fit="true">
		</ui-gmap-markers>
	</ui-gmap-google-map>
</div>
