<div ng-controller="SpiderCtrl">

	<div ng-show="alert" class="alert alert-{[type]}" role="alert">
		{[message]}
	</div>

	<h4>Spiders</h4>
	<br/>
	<table class="table">
		<tbody>
			<tr class="" ng-repeat="spider in spiders">
				<td>{[spider]}</td>
				<td class="text-right" ng-switch="spider.running">
					<span ng-hide="spiders[spider]" class="glyphicon glyphicon-play" ng-click="schedule(spider);"></span>
					<span class="glyphicon glyphicon-signal" ng-click="logs(spider)"></span>
				</td>
			</tr>
		</tbody>
	</table>

	<div class="panel log_data panel-default">
	  <div class="panel-body">
			<pre>{[log_data]}</pre>
		</div>
	</div>

</div>
