<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" data-main="/public/js/boot" src="/public/bower_components/requirejs/require.js"> </script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="/public/css/main.css">
</head>
<body>

<div class="container">
	<div ng-controller="MenuCtrl" class="header clearfix">
		<nav>
			<ul class="nav nav-pills pull-right">
				<li>
					<input ng-model="search" type="text" class="form-control" size="50" placeholder="Ex. Apartamento de 2 quartos em Florianópolis">
				</li>
				<li>
					<input ng-click="doSearch()" type="submit" class="btn btn-primary" value="Listar">
				</li>
			</ul>
		</nav>
		<h3 class="logo text-muted">  
			<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
			ilha.casa
		</h3>
	</div>
</div>

